body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  color: hsl(229, 6%, 66%);
}

h1, h2, h3, h4, h5, h6 {
  color: hsl(234, 12%, 34%);
}

.page-wrapper {
  padding: 60px;
  text-align: center;
  background-color: #fafafa;
}

.page-wrapper hgroup {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column-reverse;
}

.page-wrapper hgroup h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  margin-bottom: 0;
}

.feature-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 30px;
  -webkit-flex: row wrap;
  -ms-flex: row wrap;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.feature {
  max-width: 375px;
  background-color: white;
  padding: 30px;
  margin: 15px 0;
  border-top: 3px solid;
  border-radius: 8px;
  min-height: 285px;
  box-shadow:5px solid grey;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}

.supervisor {
  border-color: hsl(180, 62%, 55%);
  background: url('../images/icon-supervisor.svg') calc(100% - 30px) calc(100% - 30px) no-repeat, white;
  float: left;
}

.team-builder {
  border-color: hsl(0, 78%, 62%);
  background: url('../images/icon-team-builder.svg') calc(100% - 30px) calc(100% - 30px) no-repeat, white;
}

.karma {
  border-color: hsl(34, 97%, 64%);
  background: url('../images/icon-karma.svg') calc(100% - 30px) calc(100% - 30px) no-repeat, white;
}

.calculator {
  border-color: hsl(212, 86%, 64%);
  background: url('../images/icon-calculator.svg') calc(100% - 30px) calc(100% - 30px) no-repeat, white;
  float: right;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 1440px) {
  .feature-wrapper {
    flex-flow: row wrap;
  }
  .feature {
    margin: 30px 15px;
  }
}
