body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  color: hsl(229, 6%, 66%);
}

h1, h2, h3, h4, h5, h6 {
  color: hsl(234, 12%, 34%);
}

.page-wrapper {
  padding: 10px;
  text-align: center;
  background-color: #fafafa;
  min-height: 90vh;
}

.page-wrapper hgroup {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column-reverse;
}

.page-wrapper hgroup h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  margin-bottom: 0;
}

.feature-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 10px;
  -webkit-flex: row wrap;
  -ms-flex: row wrap;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.feature {
  max-width: 375px;
  background-color: white;
  padding: 30px;
  margin: 15px 0;
  border-top: 5px solid;
  border-color: hsl(229, 6%, 66%);
  border-radius: 8px;
  min-height: 285px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  box-shadow: 0px 4px 8px 4px hsla(229, 6%, 66%, .15);
}

.supervisor {
  border-top-color: hsl(180, 62%, 55%);
  background: url('../images/icon-supervisor.svg') calc(100% - 30px) calc(100% - 30px) no-repeat, white;
}

.team-builder {
  border-top-color: hsl(0, 78%, 62%);
  background: url('../images/icon-team-builder.svg') calc(100% - 30px) calc(100% - 30px) no-repeat, white;
}

.karma {
  border-top-color: hsl(34, 97%, 64%);
  background: url('../images/icon-karma.svg') calc(100% - 30px) calc(100% - 30px) no-repeat, white;
}

.calculator {
  border-top-color: hsl(212, 86%, 64%);
  background: url('../images/icon-calculator.svg') calc(100% - 30px) calc(100% - 30px) no-repeat, white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1440px) {
  .page-wrapper {
    padding: 60px;
  }

  .feature-wrapper {
    padding: 30px;
    flex-flow: row wrap;
  }
  .feature {
    margin: 30px 15px;
  }
}
